@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="btn btn-default btn-lg"> @Html.ActionLink("Projets", "Index", "Projets")</div>
    <div class="btn btn-default btn-lg">@Html.ActionLink("Jalons", "Index", "Jalons")</div>
    <div class="btn btn-default btn-lg"> @Html.ActionLink("Responsables", "Index", "Responsables")</div>
    <div class="btn btn-default btn-lg"> @Html.ActionLink("Taches", "Index", "Taches")</div>
    <div class="btn btn-default btn-lg"> @Html.ActionLink("Exigences", "Index", "Exigences")</div>
    
</div>

